body.margin {
    @media (min-width: $screen-sm-min) {
        padding-top: $navbar-height + $navbar-header-top-height + ($navbar-header-top-margin * 2);
    }
    @media (max-width: $screen-xs-max) {
        padding-top: $navbar-height;
    }
    height: 100%;
}

body {
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: $color-black;
    }
    &::-webkit-scrollbar {
        width: 8px;
        background-color: $color-black;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: $color-default;
    }
}