$color-default: #D7C966;
$color-primary: #9900CC;
$color-secondary: #34FC99;
$color-white: #ffffff;
$color-black: #515151;

$carousel-indicators-bottom: -40px;
$carousel-indicators-size: 15px;

$navbar-header-top-height: 0px;
$navbar-header-top-margin: 0px;

$width-slider: 65%;