<section class="screenshots-intro">
    <picture picturefill>
        <source media='(max-width: 767px)' ng-attr-srcset="{{ getBgSrc(infos.bg_contactanos, '_small') }}">
        <source media='(min-width: 767px)' ng-attr-srcset="{{ getBgSrc(infos.bg_contactanos, '_large') }}">
        <img ng-show="{{ infos.bg_contactanos !== null }}" class="img-responsive bg"  ng-src="{{ getBgSrc(infos.bg_contactanos, '_large') }}">
    </picture>
    <div class="container wp3" zum-waypoint="waypoints" down="wp3.on" offset="75%" ng-class="{'animated fadeInLeft': waypoints.wp3.on}">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Dirección</h1>
                <p>{{ infos.direccion }}</p>
            </div>
        </div>
    </div>
</section>
<section class="video" id="about">
    <div class="container wp2 delay-05s" zum-waypoint="waypoints" down="wp2.on" up="wp2.off" offset="75%" ng-class="{'animated fadeInDown': waypoints.wp2.on}">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Mapa</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3949.9087497794453!2d-79.03285558567366!3d-8.110773594161044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad3d9caab9305f%3A0xa6912678cbf66258!2sJir%C3%B3n+Diego+De+Almagro+270%2C+Trujillo+13001!5e0!3m2!1ses!2spe!4v1498591278442" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
<script src="js/scripts.js"></script>