<section class="albumes">
    <div class="container">
        <div class="row">
            <h1 class="text-center">Álbumes</h1>
            <hr>
            <div class="col-sm-12 galeria">
                <div class="col-sm-2">
                    <ul class="list-links">
                        <li ui-sref="galeria.detail({ id: album.id })" ui-sref-active="active" ng-repeat="album in albumes">
                            {{ album.descripcion }} <span style="margin-top: 7px;" class="glyphicon glyphicon-chevron-right pull-right"></span>
                        </li>
                    </ul>
                </div>
                <div class="album-separator"></div>
                <ui-view class="col-sm-10 album">
                </ui-view>
            </div>
        </div>
    </div>
</section>