<section class="screenshots-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="col-sm-4" ng-repeat="album in albumes">
                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" class="slide carousel-fade x3">
                        <div class="uib-slide" uib-slide ng-repeat="imagen in album.imagenes track by imagen.id" index="imagen.id">
                            {{ imagen | json }}
                            <img class="img-slider" ng-src="{{ path_location}}img/galeria/{{ album.id }}/{{ imagen.url }}">       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<p>This is the galeria view.</p>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<a id="single_image" href="images/1.png"><img src="images/1.png" alt=""/></a>
<a id="inline" href="images/1.png">This shows content of element who has id="data"</a>

    <div style="display:none"><div id="data">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div></div>
    
        <a class="grouped_elements" rel="group1" href="images/1.png"><img src="images/1.png" alt=""/></a>
        <a class="grouped_elements" rel="group1" href="images/2.png"><img src="images/2.png" alt=""/></a>

        <a class="grouped_elements" rel="group2" href="images/3.png"><img src="images/3.png" alt=""/></a>
        <a class="grouped_elements" rel="group2" href="images/4.png"><img src="images/4.png" alt=""/></a>
