<section>
    <div class="container-fluid">
        <div class="row">
            <div ng-repeat="album in albumes" uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" class="slide carousel-fade x3">
                <div class="uib-slide" uib-slide ng-repeat="imagen in album.imagenes track by imagen.index" index="imagen.index">
                    <img class="img-slider" ng-src="{{ path_location}}img/galeria/1/{{ imagen.url }}">       
                </div>
            </div>
        </div>
    </div>
</section>