<header>
    <section class="hero">
        <picture picturefill>
            <source media='(max-width: 767px)' ng-attr-srcset="{{ getBgSrc(infos.bg_hero, '_large') }}">
            <source media='(min-width: 767px)' ng-attr-srcset="{{ getBgSrc(infos.bg_hero, '_large') }}">
            <img ng-show="{{ infos.bg_hero !== null }}" class="img-responsive bg"  ng-src="{{ getBgSrc(infos.bg_hero, '_large') }}">
        </picture>
        <div class="texture-overlay"></div>
        <div class="container">
            <div class="row hero-content">
                <div class="col-md-12">
                    <h1 class="animated fadeInDown">
                        {{ infos.promo_inexdeo }}
                    </h1>
                    <a ui-sref="productos" class="use-btn animated fadeInUp">
                        Productos
                    </a> 
                    <a href="#resumen" class="learn-btn animated fadeInUp">
                        Ver más <i class="fa fa-arrow-down"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
</header>
<section class="video" id="resumen">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>
                    <a class="various iframe" ng-href="{{ infos.video }}" fancyboxable>
                        <i class="fa fa-play-circle-o"></i> Míra el video
                    </a>
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="screenshots-intro">
    <picture picturefill>
        <source media='(max-width: 767px)' ng-attr-srcset="{{ getBgSrc(infos.bg_quienes_somos, '_large') }}">
        <source media='(min-width: 767px)' ng-attr-srcset="{{ getBgSrc(infos.bg_quienes_somos, '_large') }}">
        <img ng-show="{{ infos.bg_quienes_somos !== null }}" class="img-responsive bg"  ng-src="{{ getBgSrc(infos.bg_quienes_somos, '_large') }}">
    </picture>
    <div class="container">
        <div class="row wp1" zum-waypoint="waypoints" down="wp1.on" up="wp1.off" offset="75%" ng-class="{'animated fadeInLeft': waypoints.wp1.on}">
            <div class="col-md-12">
                <h1>In Excelsis Deo</h1>
                <p ng-bind-html="infos.quienes_somos"></p>
                <p><a href="#ofrecer" class="arrow-btn">¿Qué ofrecemos? <i class="fa fa-long-arrow-right"></i></a></p>
            </div>
        </div>
    </div>
</section>
<section class="features-list" id="ofrecer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 feature-1 wp2" zum-waypoint="waypoints" down="wp2.on" offset="75%" ng-class="{'animated fadeInDown': waypoints.wp2.on}">
                    <div class="feature-icon">
                        <i class="fa fa-desktop"></i>
                    </div>
                    <div class="feature-content">
                        <h1>Productos</h1>
                        <p ng-bind-html="infos.productos_mensaje"></p>
                        <a ui-sref="productos" class="read-more-btn">Más <i class="fa fa-chevron-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-md-4 feature-2 wp2 delay-05s" zum-waypoint="waypoints" down="wp2.on" offset="75%" ng-class="{'animated fadeInLeft': waypoints.wp2.on}">
                    <div class="feature-icon">
                        <i class="fa fa-flash"></i>
                    </div>
                    <div class="feature-content">
                        <h1>Servicios</h1>
                        <p ng-bind-html="infos.servicios_mensaje"></p>
                        <a ui-sref="servicios" class="read-more-btn">Más <i class="fa fa-chevron-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-md-4 feature-3 wp2 delay-1s" zum-waypoint="waypoints" down="wp2.on" offset="75%" ng-class="{'animated fadeInLeft': waypoints.wp2.on}">
                    <div class="feature-icon">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="feature-content">
                        <h1>Proyectos</h1>
                        <p ng-bind-html="infos.proyectos_mensaje"></p>
                        <a ui-sref="proyectos" class="read-more-btn">Más <i class="fa fa-chevron-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-md-12 text-center link-slider">
                    <a href="#slider" class="use-btn animated fadeInUp">
                        Ver más <i class="fa fa-arrow-down"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="slider">
    <div class="container-fluid">
        <div class="row">
            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" class="slide carousel-fade">
                <div class="uib-slide" uib-slide ng-repeat="slide in slides track by slide.index" index="slide.index">
                    <picture picturefill>
                        <source media='(max-width: 767px)' ng-attr-srcset="{{ getSlideSrc(slide, '_small') }}">
                        <source media='(min-width: 767px)' ng-attr-srcset="{{ getSlideSrc(slide, '_large') }}">
                        <img class="img-slider" ng-src="{{ getSlideSrc(slide, '_large') }}">
                    </picture>
                    <div class="carousel-caption animated fadeInLeft" ng-if="slide.title !== null && slide.title !== undefined && slide.title !== ''">
                        <div class="wrapper">
                            <h1 ng-show="{{ slide.tipo === 'productos'}}"><a ui-sref="productos-detail({ id: slide.id })">{{ slide.title }}</a></h1>
                            <h1 ng-show="{{ slide.tipo === 'servicios'}}"><a ui-sref="servicios-detail({ id: slide.id })">{{ slide.title }}</a></h1>
                            <h1 ng-show="{{ slide.tipo === 'proyectos'}}"><a ui-sref="proyectos-detail({ id: slide.id })">{{ slide.title }}</a></h1>
                            <small>{{ slide.subtitle }}</small>
                            <p ng-bind-html="slide.resumen"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="download" id="download">
    <picture picturefill>
        <source media='(max-width: 767px)' ng-attr-srcset="{{ getBgSrc(infos.bg_contactanos, '_large') }}">
        <source media='(min-width: 767px)' ng-attr-srcset="{{ getBgSrc(infos.bg_contactanos, '_large') }}">
        <img ng-show="{{ infos.bg_contactanos !== null }}" class="img-responsive bg"  ng-src="{{ getBgSrc(infos.bg_contactanos, '_large') }}">
    </picture>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wp4" zum-waypoint="waypoints" down="wp4.on" offset="75%" ng-class="{'animated fadeInDown': waypoints.wp4.on}">
                <h1>¿Quieres contactarte con nosotros?</h1>
                <a ui-sref="contactanos" class="download-btn">Haz click aquí <i class="fa fa-send"></i></a>
            </div>
        </div>
    </div>
</section>
<script src="js/scripts.js"></script>