<section class="screenshots-intro">
    <picture picturefill>
        <source media='(max-width: 767px)' ng-attr-srcset="{{ getBgSrc(infos.bg_mision, '_large') }}">
        <source media='(min-width: 767px)' ng-attr-srcset="{{ getBgSrc(infos.bg_mision, '_large') }}">
        <img ng-show="{{ infos.bg_mision !== null }}" class="img-responsive bg"  ng-src="{{ getBgSrc(infos.bg_mision, '_large') }}">
    </picture>
    <div class="container wp3" zum-waypoint="waypoints" down="wp3.on" offset="75%" ng-class="{'animated bounceInDown': waypoints.wp3.on}">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Misión</h1>
                <p ng-bind-html="infos.mision"></p>
            </div>
        </div>
    </div>
</section>
<section class="video" id="about">
    <div class="container wp2 delay-05s" zum-waypoint="waypoints" down="wp3.on" offset="75%" ng-class="{'animated fadeInDown': waypoints.wp3.on}">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Visión</h1>
                <p ng-bind-html="infos.vision"></p>
            </div>
        </div>
    </div>
</section>
<section class="screenshots-intro">
    <picture picturefill>
        <source media='(max-width: 767px)' ng-attr-srcset="{{ getBgSrc(infos.bg_historia, '_large') }}">
        <source media='(min-width: 767px)' ng-attr-srcset="{{ getBgSrc(infos.bg_historia, '_large') }}">
        <img ng-show="{{ infos.bg_historia !== null }}" class="img-responsive bg"  ng-src="{{ getBgSrc(infos.bg_historia, '_large') }}">
    </picture>
    <div class="container wp3" zum-waypoint="waypoints" down="wp3.on" offset="75%" ng-class="{'animated bounceInDown': waypoints.wp3.on}">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Historia</h1>
                <p ng-bind-html="infos.historia"></p>
            </div>
        </div>
    </div>
</section>
<script src="js/scripts.js"></script>
