<section class="screenshots-intro">
    <div class="container wp1">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Misión</h1>
                <p>{{ infos.mision }}</p>
            </div>
        </div>
    </div>
</section>
<section class="video" id="about">
    <div class="container wp2 delay-05s">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Visión</h1>
                <p>{{ infos.vision }}</p>
            </div>
        </div>
    </div>
</section>
<section class="screenshots-intro">
    <div class="container wp1">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Historia</h1>
                <p>{{ infos.historia }}</p>
            </div>
        </div>
    </div>
</section>
<script src="js/scripts.js"></script>