<section class="screenshots-intro">
    <img class="img-responsive bg" ng-src="{{ path_location }}img/bg/{{ infos.bg_mision}}">
    <div class="container wp3" zum-waypoint="waypoints" down="wp3.on" offset="75%" ng-class="{'animated bounceInDown': waypoints.wp3.on}">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Misión</h1>
                <p ng-bind-html="infos.mision"></p>
            </div>
        </div>
    </div>
</section>
<section class="video" id="about">
    <div class="container wp2 delay-05s" zum-waypoint="waypoints" down="wp3.on" offset="75%" ng-class="{'animated fadeInDown': waypoints.wp3.on}">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Visión</h1>
                <p ng-bind-html="infos.vision"></p>
            </div>
        </div>
    </div>
</section>
<section class="screenshots-intro">
    <img class="img-responsive bg" ng-src="{{ path_location }}img/bg/{{ infos.bg_historia}}">
    <div class="container wp3" zum-waypoint="waypoints" down="wp3.on" offset="75%" ng-class="{'animated bounceInDown': waypoints.wp3.on}">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Historia</h1>
                <p ng-bind-html="infos.historia"></p>
            </div>
        </div>
    </div>
</section>
<script src="js/scripts.js"></script>
