<section>
    <div class="container-fluid">
        <div class="row">
            <div ng-show="!loading && productos.length === 0" class="text-center"><h1>No existen Productos por mostrar</h1></div>
            <div ng-show="!loading && productos.length !== 0" class="col-sm-12" ng-repeat="producto in productos">
                <div ng-if="producto.portada" class="uib-slide">
                    <img class="img-slider" ng-src="{{ path_location}}img/productos/{{ producto.img_portada }}">
                    <div class="carousel-caption animated fadeInLeft" ng-if="producto.title !== null && producto.title !== undefined && producto.title !== ''">
                        <h1><a ui-sref="productos-detail({id: producto.id})">{{ producto.title }}</a></h1>
                        <small>{{ producto.subtitle }}</small>
                        <p>{{ producto.resumen }}</p>
                    </div>
                </div>
                <div ng-if="!producto.portada" uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" class="slide carousel-fade">
                    <div class="uib-slide" uib-slide ng-repeat="image in producto.producto_images track by image.index" index="image.index">
                        <img class="img-slider" ng-src="{{ path_location}}img/productos/{{ image.url }}">       
                        <div class="carousel-caption animated fadeInLeft" ng-if="producto.title !== null && producto.title !== undefined && producto.title !== ''">
                            <h1><a ui-sref="productos-detail({id: producto.id})">{{ producto.title }}</a></h1>
                            <small>{{ producto.subtitle }}</small>
                            <p>{{ producto.resumen }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>