<section class="screenshots-intro">
    <div class="container-fluid">
        <div class="row">
            <img ng-if="{{ proyecto.img_portada !== null }}" class="img-responsive bg" ng-src="{{ path_location }}img/proyectos/{{ proyecto.img_portada }}">
            <div class="text-center col-sm-6 col-sm-offset-3">
                <h1>{{ proyecto.title }}</h1>
                <small>{{ proyecto.subtitle }}</small>
                <p class="para-description" ng-bind-html="proyecto.body"></p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div ng-if="proyecto.proyecto_images.length !== 0" uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" class="slide carousel-fade">
                <div class="uib-slide" uib-slide ng-repeat="image in proyecto.proyecto_images track by image.index" index="image.index">
                    <img class="img-slider" ng-src="{{ path_location}}img/proyectos/{{ image.url }}">
                </div>
            </div>
            <div class="text-center">
                <a ng-show="!loading && proyecto.brochure !== null" ng-href="{{ path_location + 'proyectos/download/' + proyecto.id }}" target="_blank">
                    <span class="glyphicon glyphicon-list-alt"></span> Descarga el Brochure
                </a>
            </div>
        </div>
    </div>
</section>