<section class="screenshots-intro" style="background: url('../images/6.png'); ">
    <div class="container wp1">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Condominio La Colina</h1>
                
                <label>Ubicación</label>
                <p>Sector Los Alamos s/n</p>
                
                <label>Distrito</label>
                <p>Nuevo Chimbote</p>
                
                <label>Provincia</label>
                <p>Santa</p>
                
                <label>Región</label>
                <p>Ancash</p>
            </div>
        </div>
    </div>
</section>
<section class="video" style="background: url('../images/7.png'); ">
    <div class="container wp2 delay-05s">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Proyecto 2</h1>
                
                <label>Ubicación</label>
                <p>XXXXXXX</p>
                
                <label>Distrito</label>
                <p>XXXXXXX</p>
                
                <label>Provincia</label>
                <p>XXXXXXX</p>
                
                <label>Región</label>
                <p>XXXXXXX</p>
            </div>
        </div>
    </div>
</section>
<script src="js/scripts.js"></script>