<section class="screenshots-intro">
    <div class="container-fluid">
        <div class="row">
            <img class="img-responsive bg" ng-src="{{ path_location }}img/servicios/{{ servicio.img_portada }}">
            <div class="text-center div-center">
                <h1>{{ servicio.title }}</h1>
                <small>{{ servicio.subtitle }}</small>
                <p ng-bind-html="servicio.body"></p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div ng-if="servicio.servicio_images.length !== 0" uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" class="slide carousel-fade">
                <div class="uib-slide" uib-slide ng-repeat="image in servicio.servicio_images track by image.index" index="image.index">
                    <img class="img-slider" ng-src="{{ path_location}}img/servicios/{{ image.url }}">
                </div>
            </div>
            <div class="text-center">
                <a ng-show="!loading && servicio.brochure !== null" ng-href="{{ path_location + 'servicios/download/' + servicio.id }}" target="_blank">
                    <span class="glyphicon glyphicon-list-alt"></span> Descarga el Brochure
                </a>
            </div>
        </div>
    </div>
</section>